
BlazorForNative/obj/Debug/net6.0-maccatalyst/maccatalyst-x64/BlazorForNative.GeneratedMSBuildEditorConfig.editorconfig
BlazorForNative/obj/Debug/net6.0-maccatalyst/maccatalyst-x64/BlazorForNative.csproj.AssemblyReference.cache
BlazorForNative/obj/Debug/net6.0-maccatalyst/maccatalyst-x64/BlazorForNative.assets.cache
BlazorForNative/obj/Debug/net6.0-ios/iossimulator-x64/BlazorForNative.GeneratedMSBuildEditorConfig.editorconfig
BlazorForNative/obj/Debug/net6.0-ios/iossimulator-x64/BlazorForNative.csproj.AssemblyReference.cache
BlazorForNative/obj/Debug/net6.0-ios/iossimulator-x64/BlazorForNative.assets.cache
BlazorForNative/obj/Debug/net6.0-ios/iossimulator-x64/BlazorForNative.AssemblyInfo.cs
BlazorForNative/obj/Debug/net6.0-android/lp/156/jl/res.zip
BlazorForNative/obj/Debug/net6.0-android/lp/156.stamp
BlazorForNative/obj/Debug/net6.0-android/lp/155/jl/res/values/styles.xml
BlazorForNative/obj/Debug/net6.0-android/lp/155/jl/res/values/attr.xml
BlazorForNative/obj/Debug/net6.0-android/lp/155/jl/res/layout/navigationlayout.xml
BlazorForNative/obj/Debug/net6.0-android/lp/155/jl/res/layout/fragment_backstack.xml
BlazorForNative/obj/Debug/net6.0-android/lp/155/jl/res/layout/drawer_layout.xml
BlazorForNative/obj/Debug/net6.0-android/lp/155/jl/res.zip
BlazorForNative/obj/Debug/net6.0-android/lp/155.stamp
BlazorForNative/obj/Debug/net6.0-android/lp/153/jl/res/values/styles.xml
BlazorForNative/obj/Debug/net6.0-android/lp/153/jl/res/values/attrs.xml
BlazorForNative/obj/Debug/net6.0-android/lp/153/jl/res/layout/tabbar.xml
BlazorForNative/obj/Debug/net6.0-android/lp/153/jl/res.zip
BlazorForNative/obj/Debug/net6.0-android/lp/153.stamp
BlazorForNative/obj/Debug/net6.0-android/lp/152/jl/res/layout/shellcontent.xml
BlazorForNative/obj/Debug/net6.0-android/lp/152/jl/res/layout/flyoutcontent.xml
BlazorForNative/obj/Debug/net6.0-android/lp/152/jl/res.zip
BlazorForNative/obj/Debug/net6.0-android/lp/152.stamp
BlazorForNative/obj/Debug/net6.0-android/libraryprojectimports.cache
BlazorForNative/obj/Debug/net6.0-android/designtime/Resource.designer.cs
BlazorForNative/obj/Debug/net6.0-android/designtime/build.props
BlazorForNative/obj/Debug/net6.0-android/BlazorForNative.GeneratedMSBuildEditorConfig.editorconfig
BlazorForNative/obj/Debug/net6.0-android/BlazorForNative.csproj.AssemblyReference.cache
BlazorForNative/obj/Debug/net6.0-android/BlazorForNative.assets.cache
BlazorForNative/obj/Debug/net6.0-android/BlazorForNative.AssemblyInfo.cs
BlazorForNative/obj/BlazorForNative.csproj.nuget.g.targets
BlazorForNative/obj/BlazorForNative.csproj.nuget.g.props
BlazorForNative/obj/BlazorForNative.csproj.nuget.dgspec.json
BlazorForNative/BlazorForNative.csproj.user
.vs/ProjectEvaluation/blazoreverywhere.projects.v5.1
.vs/ProjectEvaluation/blazoreverywhere.metadata.v5.1
.vs/BlazorEverywhere/v17/.suo
.vs/BlazorEverywhere/v17/.futdcache.v2
.vs/BlazorEverywhere/FileContentIndex/read.lock
.vs/BlazorEverywhere/FileContentIndex/d6a3d8b4-6086-49e9-ae39-acd053777a66.vsidx
.vs/BlazorEverywhere/DesignTimeBuild/.dtbcache.v2
BlazorForNative/obj/Debug/net6.0-windows10.0.19041.0/win10-x64/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
BlazorForNative/obj/Debug/net6.0-windows10.0.19041.0/win10-x64/BlazorForNative.AssemblyInfo.cs
BlazorForNative/obj/Debug/net6.0-windows10.0.19041.0/win10-x64/BlazorForNative.AssemblyInfoInputs.cache
BlazorForNative/obj/Debug/net6.0-windows10.0.19041.0/win10-x64/BlazorForNative.assets.cache
BlazorForNative/obj/Debug/net6.0-windows10.0.19041.0/win10-x64/BlazorForNative.csproj.AssemblyReference.cache
BlazorForNative/obj/Debug/net6.0-windows10.0.19041.0/win10-x64/BlazorForNative.GeneratedMSBuildEditorConfig.editorconfig
BlazorForNative/obj/Debug/net6.0-windows10.0.19041.0/win10-x64/BlazorForNative.GlobalUsings.g.cs
BlazorForNative/obj/Debug/net6.0-windows10.0.19041.0/win10-x64/mauifont.inputs
BlazorForNative/obj/Debug/net6.0-windows10.0.19041.0/win10-x64/mauiimage.inputs
BlazorForNative/obj/Debug/net6.0-windows10.0.19041.0/win10-x64/mauimanifest.stamp
BlazorForNative/obj/Debug/net6.0-windows10.0.19041.0/win10-x64/mauisplash.inputs
BlazorForNative/obj/Debug/net6.0-windows10.0.19041.0/win10-x64/Platforms/Windows/App.g.cs
BlazorForNative/obj/Debug/net6.0-windows10.0.19041.0/win10-x64/Platforms/Windows/App.g.i.cs
BlazorForNative/obj/Debug/net6.0-windows10.0.19041.0/win10-x64/resizetizer/m/Package.appxmanifest
BlazorForNative/obj/Debug/net6.0-windows10.0.19041.0/win10-x64/scopedcss/bundle/BlazorForNative.styles.css
BlazorForNative/obj/Debug/net6.0-windows10.0.19041.0/win10-x64/staticwebassets.build.json
BlazorForNative/obj/Debug/net6.0-windows10.0.19041.0/win10-x64/staticwebassets.development.json
BlazorForNative/obj/Debug/net6.0-windows10.0.19041.0/win10-x64/staticwebassets.publish.json
BlazorForNative/obj/Debug/net6.0-windows10.0.19041.0/win10-x64/XamlSaveStateFile.xml
BlazorForNative/obj/Debug/net6.0-windows10.0.19041.0/win10-x64/XamlTypeInfo.g.cs
BlazorForNative/obj/project.assets.json
BlazorForNative/obj/project.nuget.cache
BlazorForNative/obj/staticwebassets.pack.sentinel
BlazorForWeb/Client/obj/BlazorForWeb.Client.csproj.nuget.dgspec.json
BlazorForWeb/Client/obj/BlazorForWeb.Client.csproj.nuget.g.props
BlazorForWeb/Client/obj/BlazorForWeb.Client.csproj.nuget.g.targets
BlazorForWeb/Client/obj/Debug/net6.0/BlazorForWeb.Client.AssemblyInfo.cs
BlazorForWeb/Client/obj/Debug/net6.0/BlazorForWeb.Client.assets.cache
BlazorForWeb/Client/obj/Debug/net6.0/BlazorForWeb.Client.csproj.AssemblyReference.cache
BlazorForWeb/Client/obj/Debug/net6.0/BlazorForWeb.Client.GeneratedMSBuildEditorConfig.editorconfig
BlazorForWeb/Client/obj/project.assets.json
BlazorForWeb/Client/obj/project.nuget.cache
BlazorForWeb/Server/obj/BlazorForWeb.Server.csproj.nuget.dgspec.json
BlazorForWeb/Server/obj/BlazorForWeb.Server.csproj.nuget.g.props
BlazorForWeb/Server/obj/BlazorForWeb.Server.csproj.nuget.g.targets
BlazorForWeb/Server/obj/Debug/net6.0/apphost.exe
BlazorForWeb/Server/obj/Debug/net6.0/BlazorForWeb.Server.assets.cache
BlazorForWeb/Server/obj/Debug/net6.0/BlazorForWeb.Server.csproj.AssemblyReference.cache
BlazorForWeb/Server/obj/Debug/net6.0/BlazorForWeb.Server.GeneratedMSBuildEditorConfig.editorconfig
BlazorForWeb/Server/obj/project.assets.json
BlazorForWeb/Server/obj/project.nuget.cache
BlazorForWeb/Shared/obj/BlazorForWeb.Shared.csproj.nuget.dgspec.json
BlazorForWeb/Shared/obj/BlazorForWeb.Shared.csproj.nuget.g.props
BlazorForWeb/Shared/obj/Debug/net6.0/BlazorForWeb.Shared.AssemblyInfo.cs
BlazorForWeb/Shared/obj/Debug/net6.0/BlazorForWeb.Shared.assets.cache
BlazorForWeb/Shared/obj/Debug/net6.0/BlazorForWeb.Shared.csproj.AssemblyReference.cache
BlazorForWeb/Shared/obj/Debug/net6.0/BlazorForWeb.Shared.GeneratedMSBuildEditorConfig.editorconfig
BlazorForWeb/Shared/obj/project.assets.json
BlazorForWeb/Shared/obj/project.nuget.cache
BlazorSharedUI/obj/BlazorSharedUI.csproj.nuget.dgspec.json
BlazorSharedUI/obj/BlazorSharedUI.csproj.nuget.g.props
BlazorSharedUI/obj/BlazorSharedUI.csproj.nuget.g.targets
BlazorSharedUI/obj/Debug/net6.0/BlazorSharedUI.AssemblyInfo.cs
BlazorSharedUI/obj/Debug/net6.0/BlazorSharedUI.assets.cache
BlazorSharedUI/obj/Debug/net6.0/BlazorSharedUI.csproj.AssemblyReference.cache
BlazorSharedUI/obj/Debug/net6.0/BlazorSharedUI.GeneratedMSBuildEditorConfig.editorconfig
BlazorSharedUI/obj/Debug/net6.0/project.razor.vs.json
BlazorSharedUI/obj/Debug/net6.0/staticwebassets.publish.json
BlazorSharedUI/obj/project.assets.json
BlazorSharedUI/obj/project.nuget.cache
